@import '../../../scss/00_imports';

:host-context(.c-intro) {
  --a-start: 0%;
  --a-end: 0%;
  --b-start: 0%;
  --b-end: 0%;
  position: relative;
  display: block;
  background-color: color('darker');
}

.c-intro {
  &__container {
    position: relative;
    display: block;
    @include container-padding;
    overflow: hidden;
  }
}

.brand-reveal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  @include breakpoint(md) {
    height: 260px;
  }
  @include breakpoint(lg) {
    height: 320px;
  }
}

.tt-logo {
  position: relative;
  z-index: 1;
  fill: color('light');
  height: 28px;
  width: auto;
  @include breakpoint(md) {
    height: 48px;
  }
}

.bolt {
  fill: color('lit');
}

.intro-slogan {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: auto;
  overflow: hidden;
}

.intro-cards {
  --progress-start: 20%;
  --progress-end: 75%;
  @include breakpoint(lg) {
    --progress-start: 10%;
    --progress-end: 40%;
  }
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $layout--sm $layout--2xs;
  overflow: hidden;
  margin-top: $layout--sm;
  @include breakpoint(md) {
    padding: $layout--lg;
  }
  &:before {
    position: absolute;
    z-index: 2;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 0.94) var(--progress-end)
    );
    mask: $noiseFilter,
      radial-gradient(
        circle,
        rgba(color('darker'), 0) var(--progress-start),
        rgba(color('darker'), 1) var(--progress-end)
      );
  }
}

.card-grid {
  position: relative;
  z-index: 2;
  display: grid;
  width: 100%;
  max-width: 720px;
  grid-gap: $spacing--sm;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 80px;
  @include breakpoint(sm) {
    grid-gap: $spacing--md;
  }
}

.intro-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  border-radius: $spacing--lg;
  padding: $spacing--lg;
  @include breakpoint(md) {
    padding: $spacing--2xl;
  }
  @include frosted-glass(color('darker'), 0.75);
  &__content {
    position: relative;
    width: 100%;
    padding-bottom: 0;
    @include breakpoint(md) {
      padding-bottom: $spacing--xl;
    }
  }
  &__title {
    font-weight: font-weight('bold');
    font-size: $subtitle;
    @include breakpoint(md) {
      font-size: $title--2;
    }
  }
  &__descr {
    font-size: $body--2;
    @include breakpoint(md) {
      font-size: $body--1;
    }
    margin: 0;
    color: color('tint');
  }
  &__title ~ &__descr {
    margin-top: $spacing--md;
  }
}

.design-card {
  grid-row-end: span 3;
  @include breakpoint(md) {
    grid-row-end: span 4;
  }
}

.constraints-card {
  grid-row-end: span 3;
  @include breakpoint(md) {
    grid-row-end: span 5;
  }
}

.think-card {
  grid-row-end: span 3;
  @include breakpoint(md) {
    grid-row-end: span 5;
  }
}

.break-card {
  grid-row-end: span 3;
  @include breakpoint(md) {
    grid-row-end: span 4;
  }
}

.grads {
  --progress-start: 10%;
  --progress-end: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:before {
    position: absolute;
    z-index: 2;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 0.75) var(--progress-end)
    );
  }
  &__row {
    position: relative;
    height: 8.33%;
    width: 100%;
    @include smooth-gradient(color('lit'));
    opacity: 0.75;
  }
}

.card--reveal {
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(175deg, rgba(color('darker'), 0) var(--a-start), rgba(color('darker'), 1) var(--a-end));
    transform-origin: bottom center;
  }
}

.title--reveal {
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(175deg, rgba(color('darker'), 0) var(--b-start), rgba(color('darker'), 1) var(--b-end));
    transform-origin: bottom center;
  }
}

.l-margin--top-lg {
  margin-top: $layout--md;
  @include breakpoint(md) {
    margin-top: $layout--xl;
  }
}
