<div class="c-value-prop__container">
  <div class="value-prop">
    <p class="display-3">Get technical with design and think like developer.</p>
  </div>
  <div #valueProp class="value-prop">
    <p class="display-3">Understand technologies that bridge design with development.</p>
  </div>
  <div #valueProp class="value-prop">
    <p class="display-3">Hands on tutorials to get you engaged.</p>
  </div>
  <div #valueProp class="value-prop">
    <p class="display-3">Pretain dev knowledge to improve your design workflow.</p>
  </div>
</div>
