<div class="c-value-prop__container">
  <div class="value-prop">
    <p class="display-3">Design sessions that helps you think like a developer.</p>
  </div>
  <div #valueProp class="value-prop">
    <p class="display-3">Understand the technology to bridge your designs with development.</p>
  </div>
  <div #valueProp class="value-prop">
    <p class="display-3">Hands on tutorials to get you engaged.</p>
  </div>
  <div #valueProp class="value-prop">
    <p class="display-3">Pretain dev knowledge to improve your workflow.</p>
  </div>
</div>
