@import '../../../scss/00_imports';

:host-context(.c-footer) {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 68px;
  display: flex;
  align-items: center;
  background-color: color('dark');
  margin-top: $layout--xl;
  @include breakpoint(lg) {
    margin-top: $layout--2xl;
  }
  footer {
    position: relative;
    width: 100%;
  }
}

.c-footer {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    @include container-padding;
    padding-top: $spacing--3xl !important;
    padding-bottom: $spacing--3xl !important;
  }
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: auto;
    @include breakpoint(md) {
      height: 16px;
    }
    @include breakpoint(lg) {
      height: 18px;
    }
  }
}

.personal-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: auto;
  @include breakpoint(md) {
    height: 16px;
  }
  @include breakpoint(lg) {
    height: 18px;
  }
}

.tt-logo,
.alxv-logo {
  height: inherit;
  width: inherit;
  fill: color('carbon');
}

.alxv-logo {
  fill: color('carbon');
}
