@import '../../../scss/00_imports';

:host-context(.c-hero) {
  --a-start: 0%;
  --a-end: 0%;
  --progress-start: 20%;
  --progress-end: 100%;
  position: relative;
  display: block;
  background-color: color('darker');
  height: 66vh;
  @include breakpoint(lg) {
    --progress-start: 30%;
    --progress-end: 80%;
  }
  &:before {
    position: absolute;
    z-index: 2;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 0.75) var(--progress-end)
    );
    mask: $noiseFilter,
      radial-gradient(
        circle,
        rgba(color('darker'), 0) var(--progress-start),
        rgba(color('darker'), 1) var(--progress-end)
      );
  }
}

.c-hero {
  &__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    @include container-padding;
  }
  &__title {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 768px;
    color: color('light');
    margin-bottom: $layout--sm;
    @include breakpoint(lg) {
      margin-bottom: $layout--md;
    }
  }
}

.grads {
  --progress-start: 40%;
  --progress-end: 80%;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:before {
    position: absolute;
    z-index: 2;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 0.85) var(--progress-end)
    );
    mask: $noiseFilter,
      radial-gradient(
        circle,
        rgba(color('darker'), 0) var(--progress-start),
        rgba(color('darker'), 1) var(--progress-end)
      );
  }
  &__row {
    position: relative;
    height: 6.25%;
    width: 100%;
    @include smooth-gradient(color('lit'));
    opacity: 0.75;
  }
}

:host-context(.l-content--hide) {
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(355deg, rgba(color('darker'), 1) var(--a-start), rgba(color('darker'), 0) var(--a-end));
  }
}
