<div class="c-hero__container">
  <div class="c-hero__title">
    <h1 #heroTitle class="display-1 hero-title">Influence design through technology.</h1>
  </div>
</div>
<div class="grads">
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
  <div #grad class="grads__row"></div>
</div>
