<div class="section-title">
  <h2 #hostTitle class="display-2">Hosted by</h2>
</div>
<div class="scroller">
  <ul class="scroll-container">
    <li class="scroll-container__item">
      <div class="intro-card design-card card--reveal">
        <div class="intro-card__content">
          <div class="intro-card__avatar">
            <img src="assets/alex.jpg" />
          </div>
          <h3 class="intro-card__title copy--accent-1">Alex Vong</h3>
          <p class="intro-card__descr">Visual Designer & Front end developer</p>
        </div>
      </div>
    </li>
    <li class="scroll-container__item">
      <div class="intro-card design-card card--reveal">
        <div class="intro-card__content">
          <div class="intro-card__avatar">
            <img src="assets/david.jpg" />
          </div>
          <h3 class="intro-card__title copy--accent-1">David Poretta</h3>
          <p class="intro-card__descr">Associate Creative Director</p>
        </div>
      </div>
    </li>
    <li class="scroll-container__item">
      <div class="intro-card design-card card--reveal">
        <div class="intro-card__content">
          <div class="intro-card__avatar">
            <img src="assets/judy.jpg" />
          </div>
          <h3 class="intro-card__title copy--accent-1">Judy Yen</h3>
          <p class="intro-card__descr">Visual Designer</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="grads-container">
    <div #glitch class="grads">
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
      <div #grad class="grads__row"></div>
    </div>
  </div>
</div>
