@import '../../../scss/00_imports';

:host-context(.c-hosts) {
  position: relative;
  display: block;
  background-color: color('darker');
}

.section-title {
  position: relative;
  @include container-padding;
  overflow: hidden;
  h2 {
    margin: 0;
    max-width: max-width('md');
    margin: auto;
  }
}

.intro-card {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: $spacing--lg;
  padding: $spacing--lg;
  @include breakpoint(md) {
    width: 100%;
  }
  @include frosted-glass(color('darker'), 0.75);
  &__content {
    position: relative;
    width: 100%;
  }
  &__avatar {
    position: relative;
    height: 88px;
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 900px;
    background-color: rgba(color('dark'), 0.25);
    overflow: hidden;
    filter: grayscale(1) contrast(1.25);
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      width: inherit;
      border-radius: inherit;
    }
  }

  &__title {
    font-weight: font-weight('bold');
    font-size: $subtitle;
    color: color('accent1');
    margin: 0;
    line-height: $headline-line-height;
  }

  &__descr {
    font-size: $body--2;
    line-height: $headline-line-height;
    margin: 0;
    color: color('tint');
    font-weight: font-weight('medium');
  }
  &__title ~ &__descr {
    margin-top: $spacing--2xs;
  }
  &__avatar ~ &__title {
    margin-top: $spacing--md;
  }
}

.host-initials {
  font-size: $title--3;
  font-weight: font-weight('bold');
  color: color('light');
}

.scroller {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $layout--sm;
}

.scroll-container {
  position: relative;
  z-index: 2;
  display: grid;
  width: 100%;
  max-width: max-width('md');
  margin: auto;
  grid-row-gap: $spacing--lg;
  grid-auto-flow: column;
  padding: $spacing--sm;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  &::-webkit-scrollbar {
    display: none;
  }
  @include breakpoint(md) {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
    grid-row-gap: $spacing--lg;
  }
  @include breakpoint(lg) {
    padding: $spacing--sm $spacing--xl;
  }

  &__item {
    width: 200px;
    height: auto;
    padding: 0 $spacing--sm;
    &:last-child,
    &:last-of-type {
      padding-right: $spacing--lg;
    }

    @include breakpoint(md) {
      width: 100%;
      &:last-child,
      &:last-of-type {
        padding-right: $spacing--sm;
      }
    }
  }
}

.gradient-container {
  --progress-start: 20%;
  --progress-end: 84%;
  position: absolute;
  top: 0;
  left: 0;
  //transform: translateX(-50%);
  width: 100%;
  height: 100%;
  //max-width: max-width('lg');
  z-index: 1;
  overflow: hidden;
  &:before {
    position: absolute;
    z-index: 2;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    mask: $noiseFilter,
      radial-gradient(
        circle,
        rgba(color('darker'), 0) var(--progress-start),
        rgba(color('darker'), 1) var(--progress-end)
      );
  }
}

// .grads {
//   position: relative;
//   z-index: 1;
//   display: flex;
//   align-items: center;
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   max-width: max-width('lg');
//   margin: auto;
//   &:before {
//     position: absolute;
//     z-index: 2;
//     content: '';
//     height: 100%;
//     width: 100%;
//     background: radial-gradient(
//       circle,
//       rgba(color('darker'), 0) var(--progress-start),
//       rgba(color('darker'), 1) var(--progress-end)
//     );
//     mask: $noiseFilter,
//       radial-gradient(
//         circle,
//         rgba(color('darker'), 0) var(--progress-start),
//         rgba(color('darker'), 1) var(--progress-end)
//       );
//   }
//   &__row {
//     position: relative;
//     height: 80%;
//     width: 5.56%;
//     @include smooth-gradient-vert(color('lit'));
//     will-change: transform;
//   }
// }
