<div #introTrigger class="trigger">
  <div class="c-figma__container">
    <div class="session-intro">
      <div #title class="sub-headline copy--lit">{{ siteContent.experience_callout }}</div>
      <h2 #title class="display-3">{{ siteContent.experience_title }}</h2>
      <p #title class="large-print copy--tint">{{ siteContent.experience_content }}</p>
    </div>
  </div>
  <div class="c-experience-vortex" #experienceVortex>
    <svg viewBox="0 0 1019 1019" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        #experienceVortexRing
        cx="509.5"
        cy="509.5"
        r="503.5"
        stroke="url(#paint0_linear_701_2160)"
        stroke-width="12"
      />
      <circle
        #experienceVortexRing
        cx="509.107"
        cy="509.107"
        r="402.8"
        stroke="url(#paint1_linear_701_2160)"
        stroke-width="12"
      />
      <circle
        #experienceVortexRing
        cx="509.5"
        cy="509.5"
        r="309.771"
        stroke="url(#paint2_linear_701_2160)"
        stroke-width="12"
      />
      <circle
        #experienceVortexRing
        cx="509.992"
        cy="509.009"
        r="218.806"
        stroke="url(#paint3_linear_701_2160)"
        stroke-width="12"
      />
      <defs>
        <linearGradient
          id="paint0_linear_701_2160"
          x1="6"
          y1="509.5"
          x2="1013"
          y2="509.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FB3E54" />
          <stop offset="1" stop-color="#FB3E54" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_701_2160"
          x1="106.307"
          y1="509.107"
          x2="911.907"
          y2="509.107"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FB3E54" stop-opacity="0" />
          <stop offset="1" stop-color="#FB3E54" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_701_2160"
          x1="509.5"
          y1="835.005"
          x2="509.5"
          y2="199.73"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FB3E54" />
          <stop offset="1" stop-color="#FB3E54" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_701_2160"
          x1="509.5"
          y1="290.203"
          x2="509.5"
          y2="727.815"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FB3E54" />
          <stop offset="1" stop-color="#FB3E54" stop-opacity="0" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>
<div class="experience-trigger" #experienceTrigger>
  <div class="concepts">
    <div class="concepts__grid" #sessionContent>
      <div class="concept-demo">
        <c-orbital-blur [animeEvents]="scrollTriggerEvents"></c-orbital-blur>
      </div>
      <div class="concept-intro">
        <div class="sub-headline copy--lit">{{ siteContent.session_callout }}</div>
        <h2 class="display-4">{{ siteContent.session_title }}</h2>
        <p class="small-print copy--tint">{{ siteContent.session_content }}</p>
      </div>
    </div>
  </div>
</div>
