@import '../../../scss/00_imports';

:host-context(.c-experience) {
  --a-start: 0%;
  --a-end: 0%;
  position: relative;
  display: block;
  background-color: color('darker');
}

.intro-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: $layout--xl;
}

.experience-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: $layout--xl;
  margin-bottom: $layout--xl;
}

.c-experience-vortex {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 568px;
  height: 568px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  @include breakpoint('sm') {
    width: 768px;
    height: 768px;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

.l-content--hide {
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(355deg, rgba(color('darker'), 1) var(--a-start), rgba(color('darker'), 0) var(--a-end));
    will-change: transform;
  }
}

.c-experience {
  &__container {
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    @include container-padding;
    height: 568px;
    @include breakpoint('md') {
      height: 768px;
    }
  }
}

.session-intro {
  position: relative;
  width: 100%;
  max-width: max-width('md');
  margin-bottom: $layout--md;
  @include breakpoint('md') {
    margin-bottom: $layout--lg;
  }
  @include breakpoint('lg') {
    margin-bottom: $layout--xl;
  }
}

.concepts {
  position: relative;
  width: 100%;
  @include container-padding;
  &__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    @include breakpoint(md) {
      flex-direction: row;
    }
  }
}

.concept-demo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 368px;
  @include breakpoint(md) {
    width: 50%;
    height: 768px;
  }

  .c-orbital-blur {
    position: relative;
    top: 0;
    z-index: 0;
    flex-shrink: 0;
    width: 468px;
    height: 468px;
    @include breakpoint(lg) {
      width: 768px;
      height: 768px;
    }
  }
}

.concept-intro {
  position: relative;
  width: 100%;
  order: 1;
  p {
    margin-bottom: 0;
  }
  @include breakpoint(md) {
    margin-top: 0;
    width: 50%;
    padding: 0 $spacing--2xl;
    order: 0;
  }
}

.bolt {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 200px;
  svg {
    height: 100%;
    width: 100%;
  }
}

.tt-bolt {
  stroke: color('accent1');
}

.tt-bolt-accent {
  stroke: color('accent1');
}
