@import '../../../scss/00_imports';

:host-context(.c-faq) {
  position: relative;
  display: block;
  background-color: color('darker');
  margin-top: $layout--lg;
}

.c-faq {
  &__container {
    position: relative;
    display: block;
    @include container-padding;
  }
}

.section-title {
  position: relative;
  overflow: hidden;
  margin-bottom: $layout--sm;
  @include breakpoint(md) {
    margin-bottom: $layout--md;
  }
  h2 {
    margin: 0;
  }
}

.inspire-bolt {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $layout--xl;
  @include breakpoint(md) {
    margin-top: $layout--2xl;
  }

  &__tagline {
    margin: 0;
    font-size: $overline;
    font-weight: font-weight('bold');
    color: color('carbon');
    text-transform: uppercase;
  }
}

.bolt {
  position: relative;
  height: 48px;
  width: 48px;
  @include breakpoint(md) {
    height: 64px;
    width: 64px;
  }
  svg {
    height: 100%;
    width: 100%;
  }
}

.bolt ~ .inspire-bolt__tagline {
  margin-top: $spacing--lg;
}

.tt-bolt {
  stroke: color('lit');
  filter: drop-shadow(0 3px 20px rgba(color('lit'), 0.75));
}

.tt-bolt-spark {
  stroke: color('lit');
  filter: drop-shadow(0 2px 12px rgba(color('accent1'), 0.75));
}

.tt-bolt-light {
  stroke: color('light');
}
