@import '../../../scss/00_imports';

:host-context(.c-faq) {
  position: relative;
  display: block;
  background-color: color('darker');
}

.c-faq {
  &__container {
    position: relative;
    display: block;
    @include container-padding;
  }
}

.section-title {
  position: relative;
  overflow: hidden;
  margin-bottom: $layout--sm;
  @include breakpoint(md) {
    margin-bottom: $layout--md;
  }
  h2 {
    margin: 0;
  }
}

.bolt {
  position: relative;
  height: 60px;
  width: 60px;
  margin: auto;
  margin-top: $layout--lg;
  @include breakpoint(md) {
    height: 74px;
    width: 74px;
    margin-top: $layout--xl;
  }
  svg {
    height: 100%;
    width: 100%;
  }
}

.tt-bolt {
  stroke: color('lit');
  filter: drop-shadow(0 3px 20px rgba(color('lit'), 0.75));
}

.tt-bolt-spark {
  stroke: color('lit');
  filter: drop-shadow(0 2px 12px rgba(color('accent1'), 0.75));
}
