<div class="c-sign-up__container">
  <div class="signup-intro title--reveal">
    <div #introTitle class="sub-headline copy--lit">Reserve your seat</div>
    <h2 #introTitle class="display-3">Limited seats available, sign up today.</h2>
    <p #introTitle class="large-print copy--tint">
      Tech Talks' A deep dive into Figma is coming soon. Sign up today and we’ll keep you posted on the upcoming
      session.
    </p>
  </div>
  <form [formGroup]="signupForm" class="signup-form" (ngSubmit)="signUp()">
    <div class="form-control">
      <label class="form-control__label" for="username">First name</label>
      <input
        class="form-control__input"
        id="username"
        type="text"
        name="textfield"
        placeholder="Your first name"
        aria-describedby="username-help-text"
        aria-invalid="true"
        formControlName="firstName"
      />
      <span class="form-control__helper form-control__helper--error" id="username-help-text" *ngIf="errors.firstName"
        >This field is required.</span
      >
    </div>
    <div class="form-control">
      <label class="form-control__label" for="username">Last name</label>
      <input
        class="form-control__input"
        id="username"
        type="text"
        name="textfield"
        placeholder="Your last name"
        aria-describedby="username-help-text"
        aria-invalid="true"
        formControlName="lastName"
      />
      <span class="form-control__helper form-control__helper--error" id="username-help-text" *ngIf="errors.lastName"
        >This field is required.</span
      >
    </div>
    <fieldset class="form-group">
      <legend class="form-group__label">How would you rate your knowlege in Figma?</legend>
      <div class="radio-group">
        <div class="radio-control">
          <input
            class="radio-control__input"
            type="radio"
            name="skillLevel"
            id="beginner"
            value="beginner"
            formControlName="skillLevel"
          />
          <label class="radio-control__label" for="beginner">beginner</label>
        </div>
        <div class="radio-control">
          <input
            class="radio-control__input"
            type="radio"
            name="skillLevel"
            id="intermediate"
            value="intermediate"
            formControlName="skillLevel"
          />
          <label class="radio-control__label" for="intermediate">Intermediate</label>
        </div>
        <div class="radio-control">
          <input
            class="radio-control__input"
            type="radio"
            name="skillLevel"
            id="advance"
            value="advance"
            formControlName="skillLevel"
          />
          <label class="radio-control__label" for="advance">Advance</label>
        </div>
      </div>
      <span class="form-control__helper form-control__helper--error" id="username-help-text" *ngIf="errors.skillLevel"
        >Please select one.</span
      >
    </fieldset>
    <div class="form-control">
      <label class="form-control__label" for="comments">What do you want to learn about Figma?</label>
      <textarea
        class="form-control__textarea"
        id="comments"
        name="comments"
        placeholder="Your input is valuable"
        formControlName="comments"
      ></textarea>
      <span class="form-control__helper" id="username-help-text"
        >This is optional but it will help us provide content tailored to you.</span
      >
    </div>
    <input class="btn" type="submit" value="Submit" />
  </form>
</div>
