<div class="c-sign-up__container">
  <form class="signup-form">
    <div class="form-control">
      <label class="form-control__label" for="username">First name</label>
      <input
        class="form-control__input"
        id="username"
        type="text"
        name="textfield"
        aria-describedby="username-help-text"
        aria-invalid="true"
      />
      <span class="form-control__helper" id="username-help-text">There was an error with the input above.</span>
    </div>
    <div class="form-control">
      <label class="form-control__label" for="username">Last name</label>
      <input
        class="form-control__input"
        id="username"
        type="text"
        name="textfield"
        aria-describedby="username-help-text"
        aria-invalid="true"
      />
      <span class="form-control__helper" id="username-help-text">There was an error with the input above.</span>
    </div>
    <fieldset class="form-group">
      <legend class="form-group__label">How would you rate your knowlege in Figma?</legend>
      <div class="radio-group">
        <div class="radio-control">
          <input class="radio-control__input" type="radio" name="level" id="beginner" value="beginner" />
          <label class="radio-control__label" for="beginner">beginner</label>
        </div>
        <div class="radio-control">
          <input class="radio-control__input" type="radio" name="level" id="intermediate" value="intermediate" />
          <label class="radio-control__label" for="intermediate">Intermediate</label>
        </div>
        <div class="radio-control">
          <input class="radio-control__input" type="radio" name="level" id="advance" value="advance" />
          <label class="radio-control__label" for="advance">Advance</label>
        </div>
      </div>
    </fieldset>
    <div class="form-control">
      <label class="form-control__label" for="comments">What do you want to really learn about Figma?</label>
      <textarea class="form-control__textarea" id="comments" name="comments"></textarea>
    </div>
    <input type="submit" value="Submit" />
  </form>
</div>
