<div #sessionIntroTrigger>
  <div class="c-figma__container">
    <div class="session-intro">
      <div #title class="sub-headline copy--lit">This month’s Tech Talk</div>
      <h2 #title class="display-3">A deep dive into Figma</h2>
    </div>
  </div>
  <div #figmaDemoTrigger class="figma-app-demo">
    <div #figmaApp class="figma-app demo--reveal">
      <figure class="figma-app__static"></figure>
      <video
        #figmaVideo
        class="figma-app__video"
        playsinline="true"
        aria-hidden="true"
        src="assets/figma-team.mp4"
      ></video>
    </div>
  </div>
  <div class="c-figma__container">
    <div class="session-outro">
      <p #introCopy class="large-print copy--tint">
        We’ll take a deep dive into Figma by designing and prototyping an Ikea inspired mobile app. Explore Figma’s key
        features including auto layout, varients and smart animations.
      </p>
    </div>
  </div>
</div>
