@import '../../../scss/00_imports';

:host-context(.c-figma) {
  position: relative;
  display: block;
  background-color: color('darker');
}

.trigger {
  position: relative;
  width: 100%;
}

.c-figma {
  &__container {
    position: relative;
    display: block;
    @include container-padding;
  }
}

.session-intro {
  position: relative;
  width: 100%;
  max-width: max-width('md');
  margin: auto;
  margin-bottom: $layout--md;
}
.session-outro {
  position: relative;
  width: 100%;
  max-width: max-width('md');
  margin: auto;
  margin-top: $layout--lg;
}

.figma-app-demo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $layout--xs;
}

.figma-app {
  position: relative;
  flex-shrink: 0;
  width: 441px;
  height: 250px;
  border-radius: $spacing--md;
  overflow: hidden;
  @include elevate-4(color('carbon'), 0.75);
  @include breakpoint(sm) {
    width: 706px;
    height: 400px;
  }
  @include breakpoint(lg) {
    width: 882px;
    height: 500px;
  }
  &__static {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
  }
  &__video {
    position: relative;
    display: block;
    z-index: 2;
    width: inherit;
    height: inherit;
  }
}
