@import '../../../scss/00_imports';

:host-context(.c-figma) {
  position: relative;
  display: block;
  background-color: color('darker');
}

.c-figma {
  &__container {
    position: relative;
    display: block;
    @include container-padding;
  }
}

.session-intro {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: auto;
  margin-bottom: $layout--md;
}
.session-outro {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: auto;
  margin-top: $layout--lg;
}

.figma-app-demo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $layout--xs;
}

.figma-app {
  position: relative;
  flex-shrink: 0;
  width: 441px;
  height: 250px;
  border-radius: $spacing--md;
  overflow: hidden;
  @include elevate-4(color('carbon'), 0.75);
  @include breakpoint(sm) {
    width: 706px;
    height: 400px;
  }
  @include breakpoint(lg) {
    width: 882px;
    height: 500px;
  }
  &__static {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
  }
  &__video {
    position: relative;
    display: block;
    z-index: 2;
    width: inherit;
    height: inherit;
  }
}

.feat-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__title {
    font-weight: font-weight('bold');
    font-size: $subtitle--2;
    color: color('accent2');
    margin-top: 0;
    @include breakpoint(md) {
      font-size: $title--3;
    }
  }
  &__descr {
    font-size: $body--2;
    width: 100%;
    max-width: 375px;
    @include breakpoint(md) {
      font-size: $body--1;
    }
    margin: 0;
    color: color('tint');
  }
  &__title ~ &__descr {
    margin-top: $spacing--xs;
  }
}

// .demo--reveal {
//   &::before {
//     position: absolute;
//     content: '';
//     top: 0;
//     left: 0;
//     z-index: 3;
//     height: 100%;
//     width: 100%;
//     border-radius: inherit;
//     background: linear-gradient(175deg, rgba(color('darker'), 0) var(--a-start), rgba(color('darker'), 1) var(--a-end));
//     transform-origin: bottom center;
//     will-change: transform;
//   }
// }
