<div #introTrigger class="trigger">
  <div class="c-figma__container">
    <div class="session-intro">
      <div #title class="sub-headline copy--lit">...</div>
      <h2 #title class="display-3">...</h2>
      <p #title class="large-print copy--tint">...</p>
    </div>
  </div>
</div>
<div class="concepts" #autoLayoutTrigger>
  <div class="concepts__grid" #autoLayout>
    <div class="concept-demo">
      <video
        #autoLayoutVideo
        class="concept-demo__video"
        playsinline="true"
        aria-hidden="true"
        src="assets/auto-layout.mp4"
      ></video>
    </div>
    <div class="concept-intro">
      <div class="sub-headline copy--carbon">...</div>
      <h2 class="display-4">...</h2>
      <p class="small-print copy--tint">...</p>
    </div>
  </div>
</div>
<div class="concepts" #variantsTrigger>
  <div class="concepts__grid" #variants>
    <div class="concept-intro">
      <div class="sub-headline copy--carbon">...</div>
      <h2 class="display-4">...</h2>
      <p class="small-print copy--tint">...</p>
    </div>
    <div class="concept-demo">
      <video
        #variantsVideo
        class="concept-demo__video"
        playsinline="true"
        aria-hidden="true"
        src="assets/variants.mp4"
      ></video>
    </div>
  </div>
</div>
<div class="concepts" #prototypesTrigger>
  <div class="concepts__grid" #prototypes>
    <div class="concept-demo">
      <video
        #prototypesVideo
        class="concept-demo__video"
        playsinline="true"
        aria-hidden="true"
        src="assets/prototype.mp4"
      ></video>
    </div>
    <div class="concept-intro">
      <div class="sub-headline copy--carbon">...</div>
      <h2 class="display-4">...</h2>
      <p class="small-print copy--tint">...</p>
    </div>
  </div>
</div>
