<c-header></c-header>
<c-scroll-indicator></c-scroll-indicator>
<main>
  <section class="section section--overflow">
    <c-hero></c-hero>
  </section>
  <section class="section">
    <c-value-prop></c-value-prop>
  </section>
  <section class="section section--overflow l-margin--top-lg">
    <c-intro></c-intro>
  </section>
  <section class="section section--overflow l-margin--top-lg">
    <c-experience></c-experience>
  </section>
  <section class="section section--overflow l-margin--top-xl">
    <c-hosts></c-hosts>
  </section>
  <!-- <section class="section section--overflow l-margin--top-xl">
    <c-sign-up></c-sign-up>
  </section> -->
  <section class="section section--overflow l-margin--top-xl">
    <c-faq></c-faq>
  </section>
  <c-footer></c-footer>
</main>
