<div class="c-orbital-blur__container">
  <svg viewBox="0 0 520 520" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      #orbitalBlob
      d="M408.121 45.585C435.578 73.0415 425.798 130.653 413.113 159.781C396.265 198.47 370.056 245.271 306.406 302.681C215.296 384.859 82.3823 405.645 59.9176 348.235C37.4528 290.825 63.0377 217.815 133.552 146.676C204.066 75.5379 360.695 -1.84073 408.121 45.585Z"
      fill="url(#paint0_radial_510_8)"
    />
    <g #orbitalBlob style="mix-blend-mode: screen">
      <path
        d="M389.742 472.208C363.875 496.048 309.599 487.556 282.158 476.542C245.709 461.913 201.617 439.157 147.531 383.892C70.1112 304.784 50.5292 189.38 104.615 169.875C158.701 150.369 227.484 172.584 294.504 233.809C361.524 295.034 434.422 431.03 389.742 472.208Z"
        fill="url(#paint1_radial_510_8)"
      />
    </g>
    <circle #orbitalBlob cx="260" cy="260" r="154" fill="url(#paint2_radial_510_8)" />
    <circle #orbitalBlob cx="351.107" cy="325.107" r="91.107" fill="url(#paint3_radial_510_8)" />
    <g #orbitalOrb style="mix-blend-mode: overlay" opacity="0.5" filter="url(#filter0_d_510_8)">
      <circle cx="260" cy="260" r="126" fill="url(#paint4_radial_510_8)" shape-rendering="crispEdges" />
    </g>
    <defs>
      <filter
        id="filter0_d_510_8"
        x="0"
        y="0"
        width="520"
        height="520"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="67" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.7 0 0 0 0 1 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_510_8" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_510_8" result="shape" />
      </filter>
      <radialGradient
        id="paint0_radial_510_8"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(236.086 215.71) rotate(140.41) scale(234.022 118.795)"
      >
        <stop offset="0.359375" stop-color="#FF3F3F" stop-opacity="0.86" />
        <stop offset="0.911458" stop-color="#FF3F61" stop-opacity="0" />
      </radialGradient>
      <radialGradient
        id="paint1_radial_510_8"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(229.467 322.836) rotate(-131.902) scale(210.382 108.093)"
      >
        <stop offset="0.21875" stop-color="#3FDCFF" stop-opacity="0.86" />
        <stop offset="0.802083" stop-color="#FF3F61" stop-opacity="0" />
      </radialGradient>
      <radialGradient
        id="paint2_radial_510_8"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(260 260) rotate(90) scale(185.611)"
      >
        <stop offset="0.494792" stop-color="#69006B" stop-opacity="0.76" />
        <stop offset="0.833333" stop-color="#080009" stop-opacity="0" />
      </radialGradient>
      <radialGradient
        id="paint3_radial_510_8"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(351.107 325.107) rotate(90) scale(109.808)"
      >
        <stop offset="0.192708" stop-color="#240089" stop-opacity="0.41" />
        <stop offset="0.833333" stop-opacity="0" />
      </radialGradient>
      <radialGradient
        id="paint4_radial_510_8"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(218.553 294.816) rotate(128.138) scale(284.564 249.913)"
      >
        <stop offset="0.046875" stop-color="#00D1FF" />
        <stop offset="0.28125" stop-color="#009AA4" />
        <stop offset="0.671875" stop-color="#FF001F" stop-opacity="0" />
      </radialGradient>
    </defs>
  </svg>
</div>
