/* You can add global styles to this file, and also import other style files */
// Systems
@import './scss/01_functions';
@import './scss/02_mixins';
@import './scss/03_normailize';
@import './scss/04_resets';
@import './scss/05_variables';
@import './scss/06_typography';
@import './scss/07_base';
// Third party over-rides
.c-toasty.hot-toast-bar-base {
  --hot-toast-color: color('light');
  --hot-toast-max-width: 720px;
  padding: $spacing--md $spacing--lg !important;
  margin-bottom: $spacing--2xl !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(black, 0.8) !important;
}

.hot-toast-close-btn {
  background-position: center center !important;
  background-size: cover !important;
  height: 16px !important;
  width: 16px !important;
  margin-top: 0 !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23ffffff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E") !important;
  cursor: pointer;
}
