@import '../../../scss/00_imports';

:host-context(.c-dialog) {
  position: relative;
  display: block;
}

.checkmark {
  position: relative;
  height: 64px;
  width: 64px;
  flex-shrink: 0;
  margin-bottom: $spacing--lg;
  @include breakpoint(md) {
    margin-bottom: 0;
    margin-right: $spacing--xl;
    height: 84px;
    width: 84px;
  }
}

.signup-success {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing--lg;
  border-radius: $spacing--sm;
  background-color: color('dark-navy');
  @include elevate-3(color('dark'), 0.75);
  @include breakpoint(md) {
    flex-direction: row;
    padding: $spacing--xl $spacing--2xl;
  }
  &__content {
    position: relative;
    width: 100%;
    p {
      margin: 0;
    }
  }
  &__overline {
    font-size: $body--2;
    font-weight: font-weight('medium');
    color: color('accent1');
  }
  &__title {
    margin: 0;
    font-size: $subtitle;
    font-weight: font-weight('bold');
  }
  &__title ~ p {
    margin-top: $spacing--md;
  }
}
